.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}



/* .navbar::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    120deg,
    rgba(255,255,255,0.35),
    rgba(255,255,255,0.12),
    rgba(255,255,255,0.35)
  );

  pointer-events: none;
} */


.nav-inner {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.nav-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  font-size: 22px;
}

.logo-text {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family:Brush Script MT, Brush Script Std, cursive;
  background: linear-gradient(90deg, #c084fc, #f472b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


/* LINKS */
.nav-center a {
  margin: 0 20px;
  text-decoration: none;
  color: #444;
  font-weight: 500;
  position: relative;
}

.nav-center a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #c084fc, #f472b6);
  transition: 0.3s;
}

.nav-center a:hover::after,
.nav-center a.active::after {
  width: 100%;
}

.nav-right a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  position: relative;
}

.nav-right a:hover {
  color: #c084fc;
}

.nav-center a,
.nav-right a,
.logo-text {
  text-shadow: 0 1px 2px rgba(255,255,255,0.6);
}

/* LOGIN BUTTON */
.login-btn {
  padding: 9px 22px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 500;

  background: linear-gradient(135deg, #c084fc, #f472b6);
  color: white;
}

.register-btn {
  padding: 8px 20px;
  border-radius: 999px;
  border: 2px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(135deg, #c084fc, #f472b6) border-box;
  text-decoration: none;
  font-weight: 500;
  color: #c084fc;
}

.add-book-btn {
  padding: 8px 18px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 500;

  background: rgba(192, 132, 252, 0.15);
  color: #7c3aed;
  transition: 0.3s;
}

.add-book-btn:hover {
  background: linear-gradient(135deg, #c084fc, #f472b6);
  color: white;
}

.profile-dropdown {
  position: relative;
}

.profile-icon {
  cursor: pointer;
  font-size: 20px;
}

.dropdown-menu {
  position: absolute;
  top: 36px;
  right: 0;
  min-width: 150px;

  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(12px);
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);

  display: none;
  flex-direction: column;
  padding: 10px 0;
}

.profile-dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-menu a {
  padding: 10px 18px;
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.dropdown-menu a:hover {
  background: rgba(192, 132, 252, 0.12);
}

 