<section class="browse-books">

  <h1 class="page-title">Browse Books</h1>

  <!-- Search -->
  <div class="search-bar">
    <input type="text" placeholder="Search by title or author..." />
  </div>

  <!-- Filters -->
  <div class="filters">
    <span class="filter-chip">All</span>
    <span class="filter-chip">Fiction</span>
    <span class="filter-chip">Non-Fiction</span>
    <span class="filter-chip">Good</span>
    <span class="filter-chip">Exchange</span>
  </div>

  <!-- EMPTY STATE  -->
  <p class="empty" *ngIf="books.length === 0">
    No books available right now 📚
  </p>

  <!-- Books Grid -->
  <div class="books-grid" *ngIf="books.length > 0">
  <app-book-card
    *ngFor="let book of books"
    [bookId]="book.id"
    [title]="book.title"
    [author]="book.author"
    [image]="book.image"
    [condition]="book.condition"
  ></app-book-card>
</div>


</section>
